AddDefaultCharset UTF-8


RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_URI} !^/fbapp [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

Redirect /zoo http://showcode.azurewebsites.net/events/view/3a5095f1
